workflows/automated-agency.json
{
  "name": "Automated WordPress Agency",
  "nodes": [
    {
      "id": 1,
      "name": "Incoming Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "parameters": {
        "path": "site-request",
        "httpMethod": "POST"
      },
      "position": [300, 100]
    },
    {
      "id": 2,
      "name": "Speech To Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "parameters": {
        "url": "https://speech.googleapis.com/v1/speech:recognize",
        "method": "POST",
        "sendBinaryData": true,
        "binaryPropertyName": "audio"
      },
      "position": [500, 100]
    },
    {
      "id": 3,
      "name": "Summarize Requirements",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "parameters": {
        "operation": "chat",
        "model": "gpt-4",
        "messages": [
          {
            "role": "system",
            "content": "You are a helpful assistant that summarizes customer requirements and asks follow up questions."
          },
          {
            "role": "user",
            "content": "={{$json[\"transcript\"]}}"
          }
        ]
      },
      "position": [700, 100]
    },
    {
      "id": 4,
      "name": "Create Staging Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "parameters": {
        "url": "https://api.wpengine.com/v1/sites",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "body": {
          "name": "={{$json[\"customer\"]}}-staging"
        }
      },
      "position": [900, 100]
    },
    {
      "id": 5,
      "name": "Generate Content",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "parameters": {
        "operation": "chat",
        "model": "gpt-4",
        "messages": [
          {
            "role": "system",
            "content": "Create website copy and image prompts based on the following summary."
          },
          {
            "role": "user",
            "content": "={{$json[\"summary\"]}}"
          }
        ]
      },
      "position": [1100, 100]
    },
    {
      "id": 6,
      "name": "Upload to WordPress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "parameters": {
        "url": "https://{{wpengine_url}}/wp-json/wp/v2/posts",
        "method": "POST",
        "jsonParameters": true,
        "body": {
          "title": "Home",
          "content": "={{$json[\"choices\"][0][\"message\"][\"content\"]}}"
        }
      },
      "position": [1300, 100]
    },
    {
      "id": 7,
      "name": "Notify Customer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "parameters": {
        "to": "={{$json[\"customerEmail\"]}}",
        "subject": "Your prototype is ready",
        "text": "Please review your new website at {{staging_url}}"
      },
      "position": [1500, 100]
    }
  ],
  "connections": {
    "Incoming Webhook": {
      "main": [
        [
          {
            "node": "Speech To Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Speech To Text": {
      "main": [
        [
          {
            "node": "Summarize Requirements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Requirements": {
      "main": [
        [
          {
            "node": "Create Staging Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Staging Site": {
      "main": [
        [
          {
            "node": "Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content": {
      "main": [
        [
          {
            "node": "Upload to WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to WordPress": {
      "main": [
        [
          {
            "node": "Notify Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
